.limites {
    background: rgb(242, 243, 234);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items : center;
    justify-items: center;  
    padding: 30px 150px;
}

.limites-texto {
    display: block;
    grid-column: 1;
    gap: 20px;
    border: 1px solid rgb(206, 205, 205);
    padding: 20px 30px;
}
.limites-titulo {
    color: 	#42282E;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 10px;
    grid-column: 1;
}

.limites-subtitulo {
    font-size: 1.71rem;
    font-weight: normal;
    color: #42282E;
    padding: 5px 30px;
    text-transform: uppercase;
}
.limites-texto p {
    font-size: 1.1rem;
    color: rgb(143, 142, 142);
    padding: 10px 30px;
    word-break: break-all;
}
.btn4 {
    padding: 10px 20px;
    margin: 10px 30px;
    cursor: pointer;
    background: linear-gradient(45deg, #FD4556, #e45460);
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.limites-video {
    width: 100%;
    height: 56,25%;
}


@media (max-width: 1320px) {
    .limites {
        /*display: block;
        grid-template-columns: 1fr;*/
        align-items: center;
        justify-items: start;
    }
    .limites-video {
        width: 50%;
    }
    .limites-video iframe {
        width: 100%;
        
    }
}
@media (max-width: 1000px) {
    .limites {
        grid-template-columns: 1fr;
        display: block;
        justify-items: start;
    }
    .limites-video {
    width: 100%;
    height: 56.25%;
    }
}
@media (max-width: 590px) {
    .limites {
        padding: 0px;
    }
    .limites-titulo {
        font-size: 3rem;
    }
}
@media (min-width: 1900px) {
    .limites {
        display: grid;
        padding: 30px 750px;
        justify-content: space-between;
    }
    .limites-video {
        width: 100%;
        height: 100%;
    }
}
