.mapas {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ece8e1;
    padding-top: 20px;
}
.mapas-texto {
    display: block;
    padding-left: 30px;
}
.mapas-texto h3 {
    display: grid;
    font-size: 6rem;
    font-weight: bold;
    color: #42282E;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding: 5px 30px;
}
.mapas-texto h4 {
    font-size: 1.71rem;
    font-weight: normal;
    color: #42282E;
    padding: 5px 30px;
    text-transform: uppercase;
}
.mapas-texto p {
    font-size: 1.1rem;
    color: rgb(143, 142, 142);
    padding: 10px 30px;
    word-break: break-all;
}
.btn6 {
    padding: 25px 80px;
    margin: 10px 30px;
    cursor: pointer;
    background: linear-gradient(45deg, #FD4556, #e45460);
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    transition: .3s;
}
.btn6:hover {
    background: rgb(46, 40, 66);
}

@media (max-width: 1250px) {
    .mapas {
        align-items: center;
        justify-content: end;
    }
    .mapas-img {
        width: 100%;
        height: 95%;
        display: flex;
        justify-items: end;
    }
}
@media (max-width: 900px) {
    .mapas {
        grid-template-columns: 1fr;
    }
    .btn6 {
        padding: 15px 40px ;
    }
    .mapas-img {
        width: 100%;
        padding: 0;
        display: inline-block;
    }
}
@media (max-width: 420px) {
    .mapas-img {
        width: 100%;
    }
}
@media (min-width: 1440px) {
    .mapas {
        display: flex;
        padding-left: 250px;
    }
}