.semifooter {
    background-color: rgb(39, 39, 39);
    padding: 15px 60px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    gap: 40px;
    justify-content: center;
}

.semifooter2 nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px;  
    transition: .2s;
}
.semifooter2-btn a:hover {
    background: #555;
}